UPDATE "GeneralLedgerLine" l SET account_id = '460ddb21-4f11-487e-9767-f3708573fc9b', account_code = '1140', account_name = 'Inventory Ledger' FROM "GeneralLedgerJournal" j WHERE l.journal_id = j.id::text AND j.source_document_type = 'PurchaseInvoice' AND l.description LIKE 'Purchase:%' AND l.account_id != '460ddb21-4f11-487e-9767-f3708573fc9b';
